table {
  width: 100%;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 12px !important;
}

.table-container {
  min-height: 72vh;
  max-height: 72vh;
  overflow: auto;
}

th.mat-sort-header-sorted {
  color: black;
}
.my-card
{
    position:absolute;
    left:40%;
    top:-20px;
    border-radius:50%;
}