<div class="container">

  <div class="row">
    <div class="offset-sm-1 col-sm-10">
      <br />
      <h5>Bill</h5>
      <br />
      <mat-card>
        <!-- <form [formGroup]="stockForm" (ngSubmit)="save()"> -->

        <div class="form-group">
          <div class="row">
            <div class="col-6 col-sm-6">
              <mat-form-field class="example-full-width">
                <input type="text" placeholder="User Name" aria-label="Number" matInput
                  [formControl]="customerFormControl" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelection()">
                  <mat-option *ngFor="let option of filteredCustomerOptions | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="offset-2 col-4 offset-sm-2 offset-col-3" *ngIf="showBalance">
              <span>Pending Balance: <strong>{{userBalance}}</strong></span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-6 col-sm-6">
              <mat-form-field class="example-full-width">
                <input type="text" placeholder="Product Name" aria-label="Number" matInput
                  [formControl]="productFormControl" [matAutocomplete]="auto1">
                <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="onProductSelection()">
                  <mat-option *ngFor="let option of filteredProductOptions | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>


            <div class="col-2 col-sm-2 text-right mt-sm-2">
              <h6 *ngIf="showQuantity">In Stock <strong>{{quantityInStock}}</strong></h6>
            </div>


            <div class="col-2 offset-sm-2 col-sm-2">
              <button type="button" mat-raised-button class="btn btn-block" matTooltip="Add Product" color="primary"
                (click)="addProduct()">Add</button>
            </div>
          </div>
        </div>

        <div class="form-group" *ngFor="let item of billObj.products; let iProduct=index">
          <div class="row">
            <div class="col-4 col-sm-4">
              <h6><b>{{item.productName}}</b></h6>
            </div>
          </div>
          <div class="row">
            <div class="col-3 col-sm-3">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Selling Price" [(ngModel)]="item.sellingPrice"
                  (focusout)="calculateTotalPrice(item)">
              </mat-form-field>
            </div>
            <div class="col-3 col-sm-3">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Enter Quantity" [(ngModel)]="item.quantitySold"
                  (focusout)="calculateTotalPrice(item)">
              </mat-form-field>
            </div>
            <div class="col-3 col-sm-3">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Total" disabled [(ngModel)]="item.totalSellingPrice">
              </mat-form-field>
            </div>
            <div class="col-3 col-sm-3">
              <mat-icon (click)="onDelete(iProduct)" style="color: red;">clear</mat-icon>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-4 col-sm-4">
              <!-- <button type="button" mat-raised-button class="btn btn-block col-sm-2 mr-3" (click)="ngOnInit()">RESET</button> -->
              <button type="button" mat-raised-button (click)="Reset()" class="btn btn-block">Reset</button>
            </div>
            <div class="col-4 col-sm-4 text-right mt-sm-2">
              <h6>Total: {{billTotal}}</h6>
            </div>
            <div class="col-2 offset-sm-2 col-sm-2">
              <button type="button" mat-raised-button class="btn btn-block " (click)="Pay()"
                color="primary">Pay</button>
            </div>
          </div>
        </div>

      </mat-card>
    </div>
  </div>
</div>