<div class="container">
  <form name="form" (ngSubmit)="f.form.valid && Pay()" #f="ngForm">
    <div class="row">
      <div class="offset-sm-2 col-sm-10">
        <br />
        <div class="row">
          <div class="col-4 col-sm-4">
            <h5>Bill</h5>
          </div>
          <div class="offset-4 col-2 offset-sm-5 col-sm-2">
            <button type="button" mat-raised-button class="btn btn-block" (click)="generateBill()" color="primary">Print
              Bill</button>
          </div>
        </div>
        <br />
        <mat-card>
          <!-- <form [formGroup]="stockForm" (ngSubmit)="save()"> -->

          <div class="form-group">
            <div class="row">
              <div class="col-6 col-sm-6">
                <mat-form-field class="example-full-width">
                  <input type="text" placeholder="Dealer Name" aria-label="Number" matInput
                    [formControl]="customerFormControl" [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelection()">
                    <mat-option *ngFor="let option of filteredCustomerOptions | async" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="offset-2 col-4 offset-sm-3 col-sm-3" *ngIf="showBalance">
                <span>Pending Balance: <strong>{{userBalance}}</strong></span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-4 col-sm-4">
                <mat-form-field>
                  <mat-select placeholder="Payment Mode" name="modeOfPayment" [(ngModel)]="billObj.modeOfPayment"
                    #modeOfPayment="ngModel" required>
                    <mat-option *ngFor="let item of modeOfPayments" [value]="item">
                      {{item}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="modeOfPayment.touched && modeOfPayment.errors?.required">Mode of Payment is
                    Required </mat-error>
                </mat-form-field>
              </div>

              <div class="col-4 col-sm-4">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Vehicle Number" [(ngModel)]="billObj.vehicleNumber" name="Vehicle Number"
                    #vehicleNumber="ngModel" required
                    pattern="^[A-Z]{2}[ -][0-9]{1,2}(?: [A-Z])?(?: [A-Z]*)? [0-9]{1,4}$">
                  <mat-hint>Format:MH 01 AB 1234</mat-hint>
                  <mat-error *ngIf="vehicleNumber.touched && vehicleNumber.errors?.required">Vehicle Number is
                    Required </mat-error>
                  <mat-error *ngIf="vehicleNumber.touched && vehicleNumber.errors?.pattern">Enter In Format: MH 01
                    AB 1234
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-4 col-sm-4">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Labour Charges" type="number" name="labourCharges"
                    [(ngModel)]="billObj.labourCharges">
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-6 col-sm-6">
                <mat-form-field class="example-full-width">
                  <input type="text" placeholder="Product Name" aria-label="Number" matInput
                    [formControl]="productFormControl" [matAutocomplete]="auto1">
                  <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="onProductSelection()">
                    <mat-option *ngFor="let option of filteredProductOptions | async" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>


              <div class="col-2 col-sm-2 text-right mt-sm-2">
                <h6 *ngIf="showQuantity">In Stock <strong>{{quantityInStock}}</strong></h6>
              </div>


              <div class="col-2 offset-sm-1 col-sm-2 float-sm-right">
                <button type="button" mat-raised-button class="btn btn-block" matTooltip="Add Product" color="primary"
                  (click)="addProduct()">Add</button>
              </div>
            </div>
          </div>

          <div class="form-group" *ngFor="let item of billObj.products; let iProduct=index">
            <div class="row">
              <div class="col-4 col-sm-4">
                <h6><b>{{item.productName}}</b></h6>
              </div>
            </div>
            <div class="row">
              <div class="col-3 col-sm-3">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Selling Price" [(ngModel)]="item.sellingPrice" type="number"
                    (focusout)="calculateTotalPrice(item)" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
              </div>
              <div class="col-3 col-sm-3">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Enter Quantity" [(ngModel)]="item.quantityPurchased" type="number"
                    (focusout)="calculateTotalPrice(item)" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
              </div>
              <div class="col-3 col-sm-3">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Total" disabled [(ngModel)]="item.totalSellingPrice" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
              </div>
              <div class="col-3 col-sm-3">
                <mat-icon (click)="onDelete(iProduct)" style="color: red;">clear</mat-icon>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-8 col-sm-6 mb-sm-0">
                <button type="button" mat-raised-button (click)="Reset()"
                  class="btn btn-block col-2 col-sm-2 mr-2">Back</button>
                <button type="submit" [disabled]="!f.form.valid" mat-raised-button class="btn btn-block col-2 col-sm-2"
                  color="primary">Pay</button>
              </div>
              <div class="col-12 col-sm-6 text-right mt-2 mt-sm-0" *ngIf="billTotal > 0">
                <div class="total-cost-area">
                  <span class="spanClass">Raw Total<strong class="float-sm-right">{{billTotal}}</strong></span>
                  <span class="spanClass">Total CGST<strong class="float-sm-right">{{totalCgst}}</strong></span>
                  <span class="spanClass">Total SGST<strong class="float-sm-right">{{totalSgst}}</strong></span>
                  <span class="spanClass">To Be Paid<strong
                      class="float-sm-right">{{billTotal+totalCgst+totalSgst}}</strong></span>
                </div>
              </div>
            </div>
          </div>

        </mat-card>
      </div>
    </div>
  </form>
</div>



<div class="container" id="contentToConvert" style="position: fixed;top: -999999px;">
  <div class="row">
    <div class="col-xs-12">
      <div class="invoice-title">
        <h2>Invoice</h2>
        <h3 class="pull-right">Order # 12345</h3>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-6">
          <address>
            <strong>Billed To:</strong><br>
            {{dealerObj[0]?.dealerContactPerson}}<br>
            1234 Main<br>
            Apt. 4B<br>
            Springfield, ST 54321
          </address>
        </div>
        <div class="col-xs-6 text-right">
          <address>
            <strong>Shipped To:</strong><br>
            Jane Smith<br>
            1234 Main<br>
            Apt. 4B<br>
            Springfield, ST 54321
          </address>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <address>
            <strong>Payment Method:</strong><br>
            {{billObj?.modeOfPayment}}
          </address>
        </div>
        <div class="col-xs-6 text-right">
          <address>
            <strong>Order Date:</strong><br>
            {{todaysDate|date:'dd-MM-yyyy'}}<br><br>
          </address>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><strong>Order summary</strong></h3>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-condensed">
              <thead>
                <tr>
                  <td><strong>Item</strong></td>
                  <td class="text-center"><strong>Price</strong></td>
                  <td class="text-center"><strong>Quantity</strong></td>
                  <td class="text-right"><strong>Totals</strong></td>
                </tr>
              </thead>
              <tbody>
                <!-- foreach ($order->lineItems as $line) or some such thing here -->
                <tr *ngFor="let obj of billObj?.products">
                  <td>{{obj?.productName}}</td>
                  <td class="text-center">{{obj?.sellingPrice}}</td>
                  <td class="text-center">{{obj?.quantityPurchased}}</td>
                  <td class="text-right">{{obj?.totalSellingPrice}}</td>
                </tr>
                <tr>
                  <td class="thick-line"></td>
                  <td class="thick-line"></td>
                  <td class="thick-line text-center"><strong>Subtotal</strong></td>
                  <td class="thick-line text-right">{{billTotal}}</td>
                </tr>
                <tr>
                  <td class="no-line"></td>
                  <td class="no-line"></td>
                  <td class="no-line text-center"><strong>CGST</strong></td>
                  <td class="no-line text-right">{{totalCgst}}</td>
                </tr>
                <tr>
                  <td class="no-line"></td>
                  <td class="no-line"></td>
                  <td class="no-line text-center"><strong>SGST</strong></td>
                  <td class="no-line text-right">{{totalSgst}}</td>
                </tr>
                <tr>
                  <td class="no-line"></td>
                  <td class="no-line"></td>
                  <td class="no-line text-center"><strong>Total</strong></td>
                  <td class="no-line text-right">{{billTotal+totalCgst+totalSgst}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>